
[events]
source_dir = /var/spool/asterisk/alarm_events
dst_dir = /var/spool/asterisk/alarm_events_processed


[sensors]
1 = front door
2 = garage door
3 = back door
15 = front window left

[control]
extension = 100
